<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <title>Ejemplo Flask App</title>
</head>
<body>

    <h1>Hello from Flask App!</h1>
    
    <div>
        <p>It is currently {{ the_time }}.</p>
        <img src="http://loremflickr.com/400/300/{{tema}}"  width="400" height="300" 
        alt="foto de tema {{tema}} de 400x300"/>
    </div>

    
</body>
</html>